./MDK-ARM

# 忽略 Keil MDK-ARM 项目生成的文件

# Object files
*.o
*.obj

# Library files
*.lib
*.a
*.d

# Executable files
*.axf
*.elf
*.bin
*.hex

# Listing files
*.lst

# Map files
*.map

# Debug files
*.pbd
*.pdsc

# Build output directories
Build/
Output/

# Keil project specific files
*.uvproj
*.uvopt
*.uvgui
*.uvmpw
*.sct
*.htm
*.dep

# Other temporary files
*.bak
*.tmp

# Keil-specific IDE files
*.crf
*.opt
*.plg

# Ignore any hidden backup files
.*.swp

# Keil Clean
*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
 
RTE/
Templates/
Examples/
 
!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.bin
!*.hex

#JLINK file
JLinkLog.txt
*.dbgconf

MDK-ARM/DebugConfig
MDK-ARM/RTE
MDK-ARM/UART_IDLE
*.scvd
#Keil Project screen layout file
#!/MDK-ARM/*.uvoptx
#!/MDK-ARM/*.uvprojx

#JLINK file
JLinkLog.txt

*.o
*.hex
*.d
*.crf
*.axf
*.map
*.htm
*.lnp
*.sct
*.dep
*.lst
*.scvd
*.iex

*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.dbg*
*.uvguix.*
*Log.*

#忽略.gitignore根目录下的文件夹，根据自己的需要修改
RTE/
Templates/
Examples/
OBJ/

#不能忽略的文件
!*.uvprojx
!*.h
!*.c

.vscode 
./vscode
.history
*.bin
MDK-ARM/stm32f407/stm32f407_stm32f407.dep
MDK-ARM/stm32f407/stm32f407.build_log.htm
MDK-ARM/stm32f407/stm32f407.hex
MDK-ARM/stm32f407/stm32f407.htm
MDK-ARM/stm32f407/stm32f407.map
MDK-ARM/stm32f407/stm32f4xx_hal_cortex.o
MDK-ARM/stm32f407/stm32f4xx_hal_dma_ex.o
MDK-ARM/stm32f407/stm32f4xx_hal_dma.o
MDK-ARM/stm32f407/stm32f4xx_hal_exti.o
MDK-ARM/stm32f407/stm32f4xx_hal_flash_ex.o
MDK-ARM/stm32f407/stm32f4xx_hal_flash.o
MDK-ARM/stm32f407/stm32f4xx_hal_gpio.o
MDK-ARM/stm32f407/stm32f4xx_hal_pwr_ex.o
MDK-ARM/stm32f407/stm32f4xx_hal_pwr.o
MDK-ARM/stm32f407/stm32f4xx_hal_rcc_ex.o
MDK-ARM/stm32f407/stm32f4xx_hal_rcc.o
MDK-ARM/stm32f407/stm32f4xx_hal_spi.o
MDK-ARM/stm32f407/stm32f4xx_hal_uart.o
MDK-ARM/stm32f407/stm32f4xx_hal.o
MDK-ARM/stm32f407/system_stm32f4xx.o

MDK-ARM/startup_stm32f407xx.lst
MDK-ARM/.cmsis/device/ARM/ARMCA5/Source/AC5/ARMCA5.sct
MDK-ARM/.cmsis/device/ARM/ARMCA5/Source/AC6/ARMCA5.sct
MDK-ARM/.cmsis/device/ARM/ARMCA5/Source/GCC/ARMCA5.sct
MDK-ARM/.cmsis/device/ARM/ARMCA7/Source/AC5/ARMCA7.sct
MDK-ARM/.cmsis/device/ARM/ARMCA7/Source/AC6/ARMCA7.sct
MDK-ARM/.cmsis/device/ARM/ARMCA9/Source/AC5/ARMCA9.sct
MDK-ARM/.cmsis/device/ARM/ARMCA9/Source/AC6/ARMCA9.sct
MDK-ARM/.cmsis/device/ARM/ARMCM0/Source/ARM/ARMCM0_ac5.sct
MDK-ARM/.cmsis/device/ARM/ARMCM0/Source/ARM/ARMCM0_ac6.sct
MDK-ARM/.cmsis/device/ARM/ARMCM0plus/Source/ARM/ARMCM0plus_ac5.sct
MDK-ARM/.cmsis/device/ARM/ARMCM0plus/Source/ARM/ARMCM0plus_ac6.sct
MDK-ARM/.cmsis/device/ARM/ARMCM1/Source/ARM/ARMCM1_ac5.sct
MDK-ARM/.cmsis/device/ARM/ARMCM1/Source/ARM/ARMCM1_ac6.sct
MDK-ARM/.cmsis/device/ARM/ARMCM23/Source/ARM/ARMCM23_ac6_s.sct
MDK-ARM/.cmsis/device/ARM/ARMCM23/Source/ARM/ARMCM23_ac6.sct
MDK-ARM/.cmsis/device/ARM/ARMCM3/Source/ARM/ARMCM3_ac5.sct
MDK-ARM/.cmsis/device/ARM/ARMCM3/Source/ARM/ARMCM3_ac6.sct
MDK-ARM/.cmsis/device/ARM/ARMCM33/Source/ARM/ARMCM33_ac6_s.sct
MDK-ARM/.cmsis/device/ARM/ARMCM33/Source/ARM/ARMCM33_ac6.sct
MDK-ARM/.cmsis/device/ARM/ARMCM35P/Source/ARM/ARMCM35P_ac6_s.sct
MDK-ARM/.cmsis/device/ARM/ARMCM35P/Source/ARM/ARMCM35P_ac6.sct
MDK-ARM/.cmsis/device/ARM/ARMCM4/Source/ARM/ARMCM4_ac5.sct
MDK-ARM/.cmsis/device/ARM/ARMCM4/Source/ARM/ARMCM4_ac6.sct
MDK-ARM/.cmsis/device/ARM/ARMCM55/Source/ARM/ARMCM55_ac6_s.sct
MDK-ARM/.cmsis/device/ARM/ARMCM55/Source/ARM/ARMCM55_ac6.sct
MDK-ARM/.cmsis/device/ARM/ARMCM7/Source/ARM/ARMCM7_ac5.sct
MDK-ARM/.cmsis/device/ARM/ARMCM7/Source/ARM/ARMCM7_ac6.sct
MDK-ARM/.cmsis/device/ARM/ARMCM85/Source/ARM/ARMCM85_ac6_s.sct
MDK-ARM/.cmsis/device/ARM/ARMCM85/Source/ARM/ARMCM85_ac6.sct
MDK-ARM/.cmsis/device/ARM/ARMSC000/Source/ARM/ARMSC000_ac5.sct
MDK-ARM/.cmsis/device/ARM/ARMSC000/Source/ARM/ARMSC000_ac6.sct
MDK-ARM/.cmsis/device/ARM/ARMSC300/Source/ARM/ARMSC300_ac5.sct
MDK-ARM/.cmsis/device/ARM/ARMSC300/Source/ARM/ARMSC300_ac6.sct
MDK-ARM/.cmsis/device/ARM/ARMv81MML/Source/ARM/ARMv81MML_ac6_s.sct
MDK-ARM/.cmsis/device/ARM/ARMv81MML/Source/ARM/ARMv81MML_ac6.sct
MDK-ARM/.cmsis/device/ARM/ARMv8MBL/Source/ARM/ARMv8MBL_ac6_s.sct
MDK-ARM/.cmsis/device/ARM/ARMv8MBL/Source/ARM/ARMv8MBL_ac6.sct
MDK-ARM/.cmsis/device/ARM/ARMv8MML/Source/ARM/ARMv8MML_ac6_s.sct
MDK-ARM/.cmsis/device/ARM/ARMv8MML/Source/ARM/ARMv8MML_ac6.sct
MDK-ARM/.pack/Keil/STM32F4xx_DFP.2.14.0/MDK/Boards/Keil/MCBSTM32F400/Middleware/Network/HTTP_Server/Web/index.htm
MDK-ARM/.pack/Keil/STM32F4xx_DFP.2.14.0/MDK/Boards/Keil/MCBSTM32F400/Middleware/Network/HTTP_Upload/Web/index.htm
MDK-ARM/stm32f407/gpio.crf
MDK-ARM/stm32f407/main.crf
MDK-ARM/stm32f407/startup_stm32f407xx.d
MDK-ARM/stm32f407/stm32f4xx_hal_cortex.crf
MDK-ARM/stm32f407/stm32f4xx_hal_dma_ex.crf
MDK-ARM/stm32f407/stm32f4xx_hal_dma.crf
MDK-ARM/stm32f407/stm32f4xx_hal_exti.crf
MDK-ARM/stm32f407/stm32f4xx_hal_flash_ex.crf
MDK-ARM/stm32f407/stm32f4xx_hal_flash_ramfunc.crf
MDK-ARM/stm32f407/stm32f4xx_hal_flash.crf
MDK-ARM/stm32f407/stm32f4xx_hal_gpio.crf
MDK-ARM/stm32f407/stm32f4xx_hal_msp.crf
MDK-ARM/stm32f407/stm32f4xx_hal_pwr_ex.crf
MDK-ARM/stm32f407/stm32f4xx_hal_pwr.crf
MDK-ARM/stm32f407/stm32f4xx_hal_rcc_ex.crf
MDK-ARM/stm32f407/stm32f4xx_hal_rcc.crf
MDK-ARM/stm32f407/stm32f4xx_hal_tim_ex.crf
MDK-ARM/stm32f407/stm32f4xx_hal_tim.crf
MDK-ARM/stm32f407/stm32f4xx_hal.crf
MDK-ARM/stm32f407/stm32f4xx_it.crf
MDK-ARM/stm32f407/system_stm32f4xx.crf
